@import "~react-image-gallery/styles/css/image-gallery.css";

.title{
    text-decoration: underline #3AA8E7;
}

.price{
    text-decoration: underline #3AA8E7;
    color:#3AA8E7;
}
.text{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
}
.breadcrumbs_link{
    color: rgb(77, 77, 77);
}







.loading_div{
    text-align: center;
    margin-top: 20vh;
    height: 60vh;
}
