@media only screen and (max-width: 800px) {
    .infoSectionCol2{
       display: none !important;
    }
     
}


.infoSection{
    height: auto;
}
.infoSection h2{
    padding-top: 30px;
}
.infoSection p{
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
.infoSectionCol1{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.infoSectionImg{
    width: 100%;
    height: auto;
}

.infoSectionCol2{
    margin:auto;
}
