@media (max-width: 990px) {
    .login_container{   
        width: 70% !important;
    }
}

@media (max-width: 575px) {
    .login_container{   
        width: 90% !important;
        padding-top: 100px !important;
    }
}

.login_body{
    background-color: #f5f9fe;
    width: 100%;
    height: 100vh;
}

.login_container{   
    padding-top: 200px;
    width: 30%;
}

.login_container h2{   
    color: #3AA8E7;
    padding-left: 5px;
}

.login_form{
    background-color: white;
    padding:20px;
    border: solid rgb(211, 211, 211) 1px;
    border-radius: 20px;
}