@media (max-width:990px) {
    .car_name, .car_year, .car_param, .car_info{
        font-size: 15px !important;
        font-weight: 400 !important;
    }
    .car_price{
        font-weight: 350;
        font-size: 26px;
    }
    #blue_button{
        width: 100px !important;
        height: 30px !important;
        font-size: 12px !important;
        margin: 0 0 0 0 !important;
        padding: 0 0 0 0 !important;

    }
}
@media (max-width:768px) {
    .car_info{
        display: none !important;
    }
    .car_price_difference{
        font-size: 10px !important;
    }
    .icons {
        width: 15px !important;
        height: 15px !important;
    }
    .icons_col{
        margin: 0 0 0 0 !important;
        padding: 0 0 0 0 !important;
    }
}
@media (max-width:580px) {

    #blue_button{
        width: 50px !important;
        height: 25px !important;
        font-size: 9px !important;
        border-radius: 2px !important;
    }
    .car_price{
        font-size: 15px !important;
    }
}
@media (max-width:480px) {
    #icon_column{
        display: none !important;
    }
    .icons_row{
        margin-top: -20px !important;
    }
}
@media (max-width:470px) {
    .img_col{
        height: 150px !important;
    }
}

@media (max-width:420px) {
    .img_col{
        height: 130px !important;
    }
}

@media (max-width:360px) {
    .img_col{
        height: 120px !important;
    }
    .car_image{
        border-radius: 10px !important;
    }
}
@media (max-width:340px) {
    .img_col{
        height: 110px !important;
    }
    .car_image{
        border-radius: 10px !important;
    }
}

@media (max-width:304px) {
    #blue_button{
        margin-bottom: 3px !important;
    }
    .img_col{
        height: 100px !important;
    }
}


.car_body{
    background-color: none;
    width: 100%;
    
}

.car_container{
    margin-top: 15px;
    border-radius: 5px;
    background-color: #F5F9FE;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.car_image{
    width: 100%;
    height: 100%;
}

.car_name{
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 350;
}

.car_year{
    font-weight: 350;
}

.car_param{
    font-weight: 350;
    margin-top: 15px;
    text-align: center;
}
.car_info{
    font-weight: 400;
    font-size: 17px;
    margin-top: 15px;
    width: 90%;
}

/* .car_price_row{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
} */

.car_price{
    color: #3AA8E7;
    font-weight: 400;
}

.car_price_difference{
    color: gray;
    font-weight: 300;
    margin-top: 5px;
    text-decoration: underline;
}


#blue_button{
    color: white;
    background-color: #3AA8E7 !important;
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-size: 16px;
    padding: 1px 30px 1px 30px;
    margin-top: 7px;
    text-align: center;
    box-shadow: rgba(58, 168, 231, 0.6) 0px 7px 29px 0px;
}
#blue_button:hover{
    background-color: #64c6ff !important;
    box-shadow: rgba(58, 168, 231, 1) 0px 7px 29px 0px !important;
}

.delete_button{
    background-color: transparent;
    border: none;
    margin-left: 20px;
}

.available{
    color: rgb(113, 186, 3);
    font-size: 15px;
}
.not_available{
    color: red;
    font-size: 15px;
}
