.rental-body{
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 20px;
}
.loading_div{
    text-align: center;
    margin-top: 20vh;
    height: 60vh;
}
