.menu_body{
    background-color: #F5F9FE;
    border-radius: 10px;
    padding:20px 0px 180px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
a{
    text-decoration: none;
}
.menu_p{
    font-size: large;
}
.menu_p:hover{
    color: #3AA8E7 !important;
}
