@media only screen and (max-width: 510px) {
    .tabSelectorButton{
        font-size: 15px !important;
    }
  }

.tabSelectorRow{
    width: 100% !important;
    margin: 0;
}
.tabSelectorCol{
    margin: 0;
    padding: 0;
}
.tabSelectorButton{
    width: 100%;
    background-color:white;
    text-align: center;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 55px;
    font-size: 19px;
}
.tabSelectorButton:focus{
    background-color: #212531;
    color: white;

}